In [1]:
import pandas as pd
import numpy as np

# generate 1000 rows
n = 1000
df = pd.DataFrame({
    "id": np.arange(1, n+1),
    "revenue": 100 + (np.arange(1, n+1) * 7) % 200,
    "cost": 50 + (np.arange(1, n+1) * 5) % 150
}) 

df.head()

   id  revenue  cost
0   1      107    55
1   2      114    60
2   3      121    65
3   4      128    70
4   5      135    75

In [2]:
df.shape

(1000, 3)

In [9]:
df["cost"].shape[0]

1000

In [8]:
df["cost"]

0       55
1       60
2       65
3       70
4       75
      ...
995     80
996     85
997     90
998     95
999    100
Name: cost, Length: 1000, dtype: int64

In [3]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="demoapp"
)

df = pd.read_sql("SELECT * FROM sales_dw", conn)
df.head()

C:\Users\Dadapeer\AppData\Local\Temp\ipykernel_17112\4282634506.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM sales_dw", conn)

   id  revenue  cost
0   1      107    55
1   2      114    60
2   3      121    65
3   4      128    70
4   5      135    75

In [4]:
df["revenue"].mean()

np.float64(197.40540540540542)

In [5]:
df["revenue"].median()

196.0

In [19]:
df["revenue"].mode()[0]

np.int64(100)

In [6]:
df["revenue"].corr(df["cost"])

np.float64(0.00681431521683486)

In [7]:
std_dev = df["revenue"].std(ddof=0)   # population std deviation
std_dev

57.622835768580714

In [8]:
covariance = df["revenue"].cov(df["cost"])
covariance

np.float64(17.15239335721261)

In [9]:
covariance = df["revenue"].cov(df["cost"])
covariance

np.float64(17.15239335721261)

In [10]:
df["revenue"].skew()

np.float64(0.055052556576468334)

In [11]:
df["cost"].skew()

np.float64(0.00838803359761454)

In [12]:
df["revenue_rank"] = df["revenue"].rank(method="min", ascending=False)
df[["revenue", "revenue_rank"]].head()

   revenue  revenue_rank
0      107         319.0
1      114         307.0
2      121         295.0
3      128         283.0
4      135         271.0

In [13]:
Q1 = df["revenue"].quantile(0.25)
Q2 = df["revenue"].quantile(0.50)   # median
Q3 = df["revenue"].quantile(0.75)

Q1, Q2, Q3

(np.float64(148.0), np.float64(196.0), np.float64(247.0))

In [14]:
summary = {
    "Mean": df["revenue"].mean(),
    "Median": df["revenue"].median(),
    "Mode": df["revenue"].mode().tolist(),
    "Std Deviation": df["revenue"].std(ddof=0),
    "Covariance": df["revenue"].cov(df["cost"]),
    "Correlation": df["revenue"].corr(df["cost"]),
    "Q1": df["revenue"].quantile(0.25),
    "Q2": df["revenue"].quantile(0.50),
    "Q3": df["revenue"].quantile(0.75)
}

summary

{'Mean': np.float64(197.40540540540542),
 'Median': 196.0,
 'Mode': [107],
 'Std Deviation': 57.622835768580714,
 'Covariance': np.float64(17.15239335721261),
 'Correlation': np.float64(0.00681431521683486),
 'Q1': np.float64(148.0),
 'Q2': np.float64(196.0),
 'Q3': np.float64(247.0)}

In [15]:
df.skew(numeric_only=True)

id              0.195648
revenue         0.055053
cost            0.008388
revenue_rank   -0.000360
dtype: float64

In [16]:
N = len(df["revenue"])
mean_revenue = sum(df["revenue"]) / N
mean_revenue

197.40540540540542

In [17]:
revenue = df["revenue"]
cost = df["cost"]
N = len(revenue)

In [18]:
sorted_rev = sorted(revenue)

if N % 2 == 0:
    median = (sorted_rev[N//2 - 1] + sorted_rev[N//2]) / 2
else:
    median = sorted_rev[N//2]

median

196

In [19]:
freq = {}
for x in revenue:
    if x in freq:
        freq[x] += 1
    else:
        freq[x] = 1

max_freq = max(freq.values())
mode = [k for k, v in freq.items() if v == max_freq]

mode

[107]

In [20]:
mode = [k for k, v in freq.items() if v == max_freq][0]
mode

107

In [21]:
# Rank
revenue_list = list(df["revenue"])

unique_vals = sorted(set(revenue_list), reverse=True)

rank_dict = {}
rank = 1

for val in unique_vals:
    rank_dict[val] = rank
    rank += revenue_list.count(val)

revenue_rank = [rank_dict[x] for x in revenue_list]
revenue_rank[:10]

[319, 307, 295, 283, 271, 259, 247, 235, 223, 211]

In [22]:
# Covariance
mean_rev = sum(revenue) / N
mean_cost = sum(cost) / N

covariance = 0
for i in range(N):
    covariance += (revenue[i] - mean_rev) * (cost[i] - mean_cost)

covariance = covariance / (N - 1)
covariance

np.float64(17.152393357212624)

In [23]:
# Correlation
var_rev = 0
var_cost = 0

for i in range(N):
    var_rev += (revenue[i] - mean_rev) ** 2
    var_cost += (cost[i] - mean_cost) ** 2

std_rev = (var_rev / N) ** 0.5
std_cost = (var_cost / N) ** 0.5

correlation = covariance / (std_rev * std_cost)
correlation

np.float64(0.0068348402626687045)

In [24]:
# Qunatiles
Q1 = sorted_rev[int(0.25 * (N + 1)) - 1]
Q2 = median
Q3 = sorted_rev[int(0.75 * (N + 1)) - 1]

Q1, Q2, Q3

(147, 196, 247)