In [1]:
import pandas as pd
import numpy as np

# generate 1000 rows
n = 1000
df = pd.DataFrame({
    "id": np.arange(1, n+1),
    "revenue": 100 + (np.arange(1, n+1) * 7) % 200,
    "cost": 50 + (np.arange(1, n+1) * 5) % 150
})

df.head()

   id  revenue  cost
0   1      107    55
1   2      114    60
2   3      121    65
3   4      128    70
4   5      135    75

In [ ]:
!pip install mysql-connector-python

In [10]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="demoapp"
)

df = pd.read_sql("SELECT * FROM sales_dw", conn)
df.head()

C:\Users\Dadapeer\AppData\Local\Temp\ipykernel_11408\4282634506.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM sales_dw", conn)

   id  revenue  cost
0   1      107    55
1   2      114    60
2   3      121    65
3   4      128    70
4   5      135    75

In [11]:
df["revenue"].mean()

np.float64(0.00681431521683486)

In [12]:
df["revenue"].median()

196.0

In [13]:
df["revenue"].corr(df["cost"])

np.float64(0.00681431521683486)

In [14]:
std_dev = df["revenue"].std(ddof=0)   # population std deviation
std_dev

57.622835768580714

In [15]:
covariance = df["revenue"].cov(df["cost"])
covariance

np.float64(17.15239335721261)

In [16]:
covariance = df["revenue"].cov(df["cost"])
covariance

np.float64(17.15239335721261)

In [17]:
df["revenue_rank"] = df["revenue"].rank(method="min", ascending=False)
df[["revenue", "revenue_rank"]].head()

   revenue  revenue_rank
0      107         319.0
1      114         307.0
2      121         295.0
3      128         283.0
4      135         271.0

In [18]:
Q1 = df["revenue"].quantile(0.25)
Q2 = df["revenue"].quantile(0.50)   # median
Q3 = df["revenue"].quantile(0.75)

Q1, Q2, Q3

(np.float64(148.0), np.float64(196.0), np.float64(247.0))

In [20]:
summary = {
    "Mean": df["revenue"].mean(),
    "Median": df["revenue"].median(),
    "Mode": df["revenue"].mode().tolist(),
    "Std Deviation": df["revenue"].std(ddof=0),
    "Covariance": df["revenue"].cov(df["cost"]),
    "Correlation": df["revenue"].corr(df["cost"]),
    "Q1": df["revenue"].quantile(0.25),
    "Q2": df["revenue"].quantile(0.50),
    "Q3": df["revenue"].quantile(0.75)
}

summary

{'Mean': np.float64(197.40540540540542),
 'Median': 196.0,
 'Mode': [107],
 'Std Deviation': 57.622835768580714,
 'Covariance': np.float64(17.15239335721261),
 'Correlation': np.float64(0.00681431521683486),
 'Q1': np.float64(148.0),
 'Q2': np.float64(196.0),
 'Q3': np.float64(247.0)}